.container{
    margin-top: 15px;
}

.title{
    font-size: 70px;
}
.post{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap:50px
}
.imgCon{
    position: relative;
    height: 500px;
    flex:1
}
.img{
    object-fit: cover;
}
.textContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px    
}
.postTitle{
    font-size: 40px;

}
.postDesc{
    font-size: 20px;
    font-weight: 300;
    color:var(--softTextColor);

}
.btn{
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
}


@media screen and (max-width:1280px){

    .title{
    
    font-size: 65px
    }
}
@media screen and (max-width:1024px){

    .title{
    
    font-size: 55px
    }

    .imgCon{
        display: none;
    }
}
@media screen and (max-width:720px){

    .title{
    
    font-size: 45px
    }
}
@media screen and (max-width:640px){

    .title{
    
    font-size: 40px
    }
}
@media screen and(max-width:425px){

    .title{
    
    font-size: 30px
    }
}
@media screen and(max-width:380px){

    .title{
    
    font-size: 25px;
    }
}